html{
    background: rgb(15,15,20)
}

#map{
    height: 100vh;
    width: 100%;
}

.map-console{
    background-color: rgba(0,0,0, 0.80);
    position: absolute;
    width: 325px;
    height: 175px;
    top: 25px;
    left: 25px;
    z-index: 999;
    padding: 15px;
}

.selection-text{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    margin-bottom: 10px;
}

#county-dd{
    width: 250px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    padding: 3px;
}
